<div class="home-container">
    <img src="Lifit_logo.png" alt="Logo" class="logo" />
</div>
<div class="tecttext">
  <p>Você já se sentiu desmotivado ou sem ânimo para praticar atividades físicas por falta de companhia, orientação ou apoio?
Essa é uma realidade comum para muitas pessoas que querem mudar, mas não sabem por onde começar ou como manter a motivação.

Pensando nisso, criamos o *Lifit*: um aplicativo que conecta pessoas com os mesmos objetivos de saúde e bem-estar, promovendo uma rotina mais ativa e motivadora.
O *Lifit* é mais do que um app — é uma rede social voltada para quem quer transformar o corpo, a mente e o estilo de vida com o apoio de uma comunidade engajada no esporte.

Com uma interface simples e intuitiva, o aplicativo facilita a navegação e o acesso a grupos que adoram praticar atividades físicas.
Você pode participar ou criar eventos públicos ou privados, como corridas em grupo em parques, treinos com personal trainer e muito mais. Tudo isso pensado para facilitar sua integração com pessoas que compartilham dos mesmos interesses.

Quer compartilhar sua evolução? Temos uma área de postagens para você atualizar sua rotina de treinos, mostrar seus resultados e inspirar outras pessoas. Afinal, quem nunca quis mostrar que “o de hoje tá pago”?

Além disso, você pode estabelecer metas personalizadas e acompanhar seu progresso.
Quer chegar nos 40 cm de bíceps? O *Lifit* te ajuda a traçar esse caminho e ainda te dá a chance de registrar e divulgar cada conquista.

Se você quer transformar sua vida, sair do sedentarismo e criar novos hábitos com suporte e motivação, o *Lifit* é pra você!
Com tecnologia e conexão social, ajudamos você a começar — e continuar — sua jornada por uma vida mais saudável e equilibrada. </p>

</div>
<div>
    <nav>
      <button (click)="metas()"><a routerLink="/metas">Metas</a></button>
      <a (click)="logout()">Sair</a>
    </nav>
  </div>
