metas-container {
  background-color: #d8f0d8; /* verde claro */
  height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.progresso {
  display: flex;
  align-items: center;
  margin: 15px 0;
}

.progress-circle {
  width: 100px;
  height: 100px;
  transform: rotate(-90deg);
}

.circle-bg {
  stroke: #ddd;
}

.circle {
  transition: stroke-dasharray 0.3s ease;
}

.progresso p {
  font-size: 1.5rem;
  margin-left: 15px;
  font-weight: bold;
}

.calendario {
  margin: 20px 0;
  text-align: center;
}

.dias {
  display: grid;
  grid-template-columns: repeat(7, 30px);
  gap: 5px;
  justify-content: center;
}

.dias span {
  background-color: #90E05E;
  color: white;
  font-weight: bold;
}


.descricao {
  max-width: 400px;
  text-align: center;
  margin-top: 15px;
}
