<div class="login-container" role="main">
  <img src="assets/logo.png" alt="Logo da Aplicação" class="logo" />
  <form (ngSubmit)="onLogin()" aria-label="Formulário de Login">
    <label for="user">Email ou Usuário</label>
    <input id="user" type="text" name="user" required />

    <label for="password">Senha</label>
    <input id="password" type="password" name="password" required />
    <button (click)="onLogin()"><a routerLink="/home">Entrar</a></button>

    <a routerLink="/home" aria-label="Criar conta">Criar conta</a>
  </form>
</div>
